html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
}

figure {
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;

  font-family: 'Fira Sans', sans-serif;
  color: rgba(0, 0, 0, 0.92);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.article h2 {
  font-family: Playfair Display;
  font-weight: bold;
  font-size: 36px;
  letter-spacing: -0.6px;
  line-height: 48px;
}

.article h3 {
  font-weight: 500;
}

.article ul,
.list {
  padding: 0;
  list-style-type: none;
}

.article li,
.list li {
  position: relative;
  margin-top: 0.3em;
  margin-left: 1em;
}

.article li:before,
.list li:before {
  position: absolute;
  left: -1em;
  content: '— '
}

button {
  background: transparent;
  border: 0;
  margin: 0;
}

strong,
b {
  font-weight: 500;
}

button::-moz-focus-inner {
  border: 0;
}

.link {
  color: #318dfa;
  text-decoration: none;
  border-bottom: 3px solid transparent;
}

.link:visited {
  color: #6848ff;
}

.link:hover {
  color: #0075fa;
}

.link.focus-visible {
  outline: none;
  position: relative;
  border-bottom: 3px solid #318dfa;
}

.link:visited.focus-visible {
  border-color: #6848ff;
}

.white-link {
  color: white;
  text-decoration: none;
  border-bottom: 3px solid white;
  transition: 100ms border-bottom ease-out;
}

.white-link:hover {
  border-width: 6px;
}

.white-link.focus-visible {
  outline: none;
  border-width: 6px;
}

.button {
  font-size: 20px;
  line-height: 26px;
  padding: 5px 35px;
  border: none;
  color: #fff;
  background-color: #318dfa;
  cursor: pointer;
}

.button:hover {
  background-color: #2975cc;
}

.button:active {
  background-color: #2975cc;
}

.button.focus-visible {
  outline-color: #318dfa;
  outline-offset: 1px;
  outline-style: solid;
  outline-width: 3px;
}

.button.theme_black-white {
  border: 2px solid rgba(0, 0, 0, 0.92);
  color: rgba(0, 0, 0, 0.92);
  box-sizing: border-box;
  background-color: #fff;

  font-size: 20px;
  line-height: 24px;
  padding: 7px 35px;
}

.button.theme_black-white:hover {
  background-color: #000;
  color: #fff;
}

.button._size_l {
  font-size: 26px;
  line-height: 31px;
}

.button._wide {
  width: 100%;
}

input {
  border: 2px solid #318dfa;
  font-size: 20px;
  line-height: 32px;
  padding: 5px 11px;
  width: 100%;
  background: white;
}

input:focus {
  outline-color: #318dfa;
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 2px;
}

.soft-hyphen {
  font-family: sans-serif;
}

.components-code {
  font-family: monospace;
  font-size: 20px;
  width: 100%;
  margin: 10px 0;
}

.components-description {
  margin: 10px 0;
  border-bottom: 1px solid lightgrey;
  display: block;
  font-size: 21px;
  color: black;
  text-decoration: none;
}
